aiohttp
alexflipnote.py
asyncpraw
CairoSVG
colorama
git+https://github.com/Rapptz/discord.py.git
git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/Gorialis/jishaku.git
discordlists.py
googletrans
httpx
matplotlib
buttons
parsedatetime
psutil
psycopg[binary]
Pastebin
python_dateutil
wolframalpha
pillow
requests
wget
speedtest-cli
asyncpg
timeago
uvloop
wand
Naked
cronitor
