aiohttp
alexflipnote.py
asyncpraw
nekos.py
CairoSVG
colorama
git+https://github.com/Rapptz/discord.py.git
git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/Gorialis/jishaku@features/better-sync
discordlists.py
httpx
matplotlib
buttons
parsedatetime
psutil
git+https://github.com/LunarsDev/DiscordUtils.git
psycopg[binary]
Pastebin
blinker
python_dateutil
wolframalpha
pillow
requests
wget
PyNaCl
speedtest-cli
asyncpg
timeago
humanfriendly
uvloop
wand
Naked
cronitor